.map-container {
  background-color: #04041b;
  /* height: 100vh; */
  width: 100vw;
  /* margin: auto; */
}
body{
  padding: 0;
  margin: 0;
}
#type {
  /* margin-left: 50px; */
  margin-top: 10px;
  background-color: #003c8880;
  color: #fff;
  border-color: #999;
}
#first-button {
  margin-left: 50px;
}
.buttons{
  margin-top: 10px;
  background-color: #003c8880;
  color: #fff;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.slidecontainer {
  width: 100px; /* Width of the outside container */
  padding-left: 100px;
}

/* The slider itself */
.slider {
  margin: 8px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: blueviolet; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: blueviolet; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderInfo {
  color: blueviolet;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: gray;
  margin: 5px;
}
.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}